/node_modules
/public/hot
/public/storage
/public/attachments
/storage/*.key
/storage/framework
/storage/logs
/vendor
.env
.env.backup
.phpunit.result.cache
.idea
.idea/workspace.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log